<div class="catalogo">
    <div class="row">
        <div class="col-4">
            <img src="../../assets/images/catalogo/uno.jpg" alt=""><br>
            <p>Promo 12 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/dos.jpg" alt=""><br>
            <p>Promo 14 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/tres.jpg" alt=""><br>
            <p>Echeveria 'Emerald Ripple'</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/cuatro.jpg" alt=""><br>
            <p>Promo 12 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/cinco.jpg" alt=""><br>
            <p>Promo 14 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/seis.jpg" alt=""><br>
            <p>Echeveria 'Emerald Ripple'</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/siete.jpg" alt=""><br>
            <p>Promo 12 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/ocho.jpg" alt=""><br>
            <p>Promo 14 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/nueve.jpg" alt=""><br>
            <p>Echeveria 'Emerald Ripple'</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/diez.jpg" alt=""><br>
            <p>Promo 12 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/once.jpg" alt=""><br>
            <p>Promo 14 cactus/suculentas</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
        <div class="col-4">
            <img src="../../assets/images/catalogo/doce.jpg" alt=""><br>
            <p>Echeveria 'Emerald Ripple'</p>
            <button type="button" class="comprar">Comprar</button>
        </div>
    </div>
</div>