.catalogo{
    background-color: rgb(214, 231, 201);
    padding: 30px;
    img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    }
    .compra{
        background-color: cornflowerblue;;
    }
}