<div class="contenido">
    <div class=" row quienesSomos">
        <div class="col-6">
            <p>Somos Milagros y Andrés, estudiantes de Turismo y fánaticos de la naturaleza.<br>
                <strong>La Morenita</strong> nace como un emprendimiento gracias a la pasión de Milagros por los cactus,
                y a la dedicación de Andrés por su huerta órganica en casa.<br>
                Juntos nos especializamos en la producción y venta de cactus, suculentas y plantines.
                Y no solo eso, también apuntamos a la innovación con la creación de nuestras famosas macetas
                sustentables.
            </p>
        </div>
        <div class="col-6">
            <img class="imgQS" width="400" height="400"
                src="https://png.pngtree.com/png-vector/20191107/ourlarge/pngtree-volunteers-plant-a-tree-in-the-park-young-people-care-about-png-image_1969704.jpg"
                alt="">
        </div>
    </div>
</div>