.navbar{
    width: 100vw;
    text-transform: uppercase;
    a:hover{
        color: rgb(68, 173, 36) !important;
    }
    .nav-link{
        color: black;
        text-decoration: none;
        margin-right: 40px;
      
}
}