.banner{
    background-color:#f8f8f8;
    width: 100vw;
    padding: 2vh;
    img{
        width: 20vw;   
    }
    h1{
        font-family: "Salom-Regular";
        color:#112629;
    }
    h3{
        font-family: "Showcase-Sans-Mini";
        
        color:#112629;
    }

}