.banner{
    background-color: #8bdb66;
    width: 100%;
    padding: 2vh;
    height: 20%;
    box-shadow:10px 10px 50px #477e2e;
    img{
        width: 13.5vw;
        border-radius: 150vw;  
    }
    .brand{
        padding: 2vw;
        h1{
            font-family: "Salom-Regular";
            color:#f5f4f4;
            display: flex;
            justify-content: center;
            font-size: 4.5vw;
        }
        h3{
            font-family: "Showcase-Sans-Mini";
            color:#f5f4f4;
            display: flex;
            justify-content: center;
            font-size: 3.5vw;
        }
    }
    .redes-sociales{
        ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            padding: 3.5vw;
            li{
                text-decoration: none !important;
                margin-right: 35px;
                a{
                    svg{
                        color:rgb(255, 251, 251);
                        width: 3.5vw;
                        
                    }
                }
               
            }
        }
        
    }
    

}

//animacion titulo la morenita
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 2.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 2.000) both;
}

 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  