<div class="tips">
    <div class="titulo-tips">
        <p>Tips básicos que no podés perderte para el adecuado cuidado de tus plantas</p>
    </div>
    <div class="cactus">
        <h2>Cactus</h2>
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tips/cactus-uno.png" alt="">
            </div>
            <div class="col-6">
                <img src="../../assets/images/tips/cactus-dos.png" alt="">
            </div>
        </div>
    </div>
    <div class="suculentas">
        <h2>suculentas</h2>
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/tips/suculentas-uno.png" alt="">
            </div>
            <div class="col-6">
                <img src="../../assets/images/tips/suculentas-dos.png" alt="">
            </div>
        </div>
    </div>
    <div class="plagas">
        <h2>plagas</h2>
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/tips/plagas-uno.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/images/tips/plagas-dos.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/images/tips/plagas-tres.png" alt="">
            </div>
        </div>
    </div>
    <div class="enraizantes">
        <h2>enraizantes</h2>
        <div class="">
            <img src="../../assets/images/tips/enraizante.png" alt="">
        </div>
    </div>
</div>
